@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-VariableFont_wdthwght.ttf);
  font-weight: 100 900;
}

body {
  background-color: rgb(12, 10, 31);
  color: lightyellow;
  font-family: OpenSans;
  user-select: none;
}

#response {
  width: 500px;
}
