@font-face {
    /*This font's source is locally retrieved from fonts folder in this project and font-face is required*/
    font-family: "OpenSans";
    src: url(fonts/OpenSans-VariableFont_wdth\,wght.ttf) format(truetype);
    font-weight: 100 900;
}

body{
    font-size: 1em;
    font-family: "OpenSans", sans-serif, tahoma, verdana, arial;
    background-color: lightyellow;
    overflow: scroll;
}

a{
    text-decoration: none;
    transition: font-weight 0.2s ease-out;
}

#track:hover, #dev:hover, a span:hover{
    font-weight: 800;
    transform: skewX(-5deg);
}

header{
    user-select: none;
    margin: -8px -8px 0 -8px;
    padding: 0 0 10px 10px;
    font-size: 1.2em;
    font-weight: 400;
}

table{
    display: flex;
    overflow:scroll;
}
footer{
    user-select: none;
    margin: 0 -8px -10px -8px;
    padding: 20px 0 20px 0;
    text-align: center;
    font-size: 1.1em;
    font-weight: 400;
}

footer a{
    display: inline-block;
    width:62px;
    text-decoration: none;
    color:snow;
    text-align: center;
    transition: font-weight 0.2s ease-out;
}


hr{
    margin: 16px 0 0 0;
    padding: 0;
}
pre{
    /*This font's source is the google fonts api*/
    font-family: "Raleway";
    display:inherit;
}
.identity{
    color:brown;
}
#nav{
    display: flex;
    justify-content:flex-start;
}
#nav a{
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 500;
    text-decoration: none;
    color:black;
    min-width: 20px;
    border-right: 1px solid;
}
#nav a span{
    display: inline-block;
    width:70px;
    text-wrap: nowrap;
    transition: font-weight 0.2s ease-out, transform 0.2s ease-out;
    margin-right: 15px;
}
#nav a:first-child{
    width: 55px;
    min-width: 55px;
}
#nav a:nth-child(3){
    padding-right: 13px;
}
#nav a:nth-child(4){
    border:none;
}

