body{
    font-family: 'Open Sans', sans-serif,tahoma, verdana, arial;
    background-color: lightyellow;
    min-width: 50px;
}

header,footer{
    padding: 10px;
}

footer{
    text-align: center;
}

footer a{
    text-decoration: none;
    color:snow;
    transition: font-weight 0.30s ease-out;
}

footer a:hover{
    color:black;
    font-weight: 900;
}


hr{
    margin: 16px 0 0 0;
    padding: 0;
}
pre{
    font-family: "Open Sans";
}

.identity{
    color:brown;
}

#nav{
    display: flex;
    justify-content: space-around;
    margin: 0 10% 0 10%;
    flex: auto
}

#nav a{
    text-decoration: none;
    color:black;
    min-width: 20px;
    transition: font-weight 0.30s ease-out;
}

#nav a:hover{
    color:aliceblue;
    font-weight: 600;
}
